.users{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 5px 13px;
    background-color: peru;
    border-radius: 5px;
}

nav a.active {
    background-color: tomato;
}